#
# 运行时生成
#
bin/
temp/
obj/
Log/
log/
Debug/
Release/
ScriptRuntimeDomain/
#
# 编译生成的dll
#
GameRanking.Pack.dll
GameServer.exe
GameServer.vshost.exe
ZyGames.Framework.Common.dll
ZyGames.Framework.Game.dll
ZyGames.Framework.dll

#
# 中间文件和私有信息存放
#
*~
*.[ao]
*.pdb
*.rar
*.zip
*.txt
*.config
