#
# runtime data
#
bin/
temp/
obj/
Log/
log/
Debug/
Release/
ScriptRuntimeDomain/
#
# compaire dll
#
GameRanking.Pack.dll
GameServer.exe
GameServer.vshost.exe
ZyGames.Framework.Common.dll
ZyGames.Framework.Game.dll
ZyGames.Framework.dll

#
# personal/runtime data
#
*~
*.[ao]
*.pdb
*.rar
*.zip
*.txt
*.config
*.suo
